<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
      <div class="shadow">
        <div class="sign-up-title">
          <h3>美容師 ログイン</h3>
        </div>
        <div class="sign-up-box">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="sign-up-field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :パスワード %>
              <%= f.password_field :password, autocomplete: "current-password", class: "field" %>
            </div>

          <div class="sign-up-btn">
            <div class="actions">
              <%= f.submit "ログイン", class: "action-btn"%>
              <div><%= link_to 'ゲストログイン', hairdressers_guest_sign_in_path, method: :post, class: "action-btn" %></div>
            </div>
          </div>
        <% end %>

        <div class="signin">
          <%= render "hairdressers/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

