<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
      <div class="shadow">
        <div class="sign-up-title">
          <h3>ヘアモ 新規登録</h3>
        </div>
        <div class="sign-up-box">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="sign-up-image" onclick="$('#model_model_image').click()">
              <div class="image-field">
                <%= image_tag "no images.png", class: "img-prev", :size => '150x150' %>
                <%= f.attachment_field :hairmodel_image, autofocus: true, autocomplete: "hairmodel_image" %>
              </div>
            </div>

            <div class="sign-up-field">
              <%= f.label :名前 %><br />
              <%= f.text_field :hairmodel_name, autofocus: true, autocomplete: "hairmodel_name", class: "field" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :性別 %><br />
              <%= f.select :hairmodel_gender, Model.hairmodel_genders.keys.map {|k| [I18n.t("enums.model.hairmodel_gender.#{k}"), k]}, include_blank: '', autofocus: true, autocomplete: "hairmodel_gender", class: "sign-up-select" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :年代 %><br />
              <%= f.select :age, Model.ages.keys.map {|k| [I18n.t("enums.model.age.#{k}"), k]}, include_blank: '', autofocus: true, autocomplete: "age", class: "sign-up-select" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :髪の長さ %><br />
              <%= f.select :hair_length, Model.hair_lengths.keys.map {|k| [I18n.t("enums.model.hair_length.#{k}"), k]}, include_blank: '', autofocus: true, autocomplete: "hair_length", class: "sign-up-select" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :黒染め履歴 %><br />
              <%= f.select :black_history, Model.black_histories.keys.map {|k| [I18n.t("enums.model.black_history.#{k}"), k]}, include_blank: '', autofocus: true, autocomplete: "black_history", class: "sign-up-select" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :ブリーチ履歴 %><br />
              <%= f.select :bleach_history, Model.bleach_histories.keys.map {|k| [I18n.t("enums.model.bleach_history.#{k}"), k]}, include_blank: '', autofocus: true, autocomplete: "bleach_history", class: "sign-up-select" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :縮毛矯正 %><br />
              <%= f.select :straight_history, Model.straight_histories.keys.map {|k| [I18n.t("enums.model.straight_history.#{k}"), k]}, include_blank: '', autofocus: true, autocomplete: "straight_history", class: "sign-up-select" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :ひとこと（後ほど登録可能） %><br />
              <%= f.text_area :hairmodel_comment, placeholder: "200字以内でお願いします", autofocus: true, autocomplete: "hairmodel_comment", class: "comment" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :パスワード（6文字以上） %>
              <!--
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %><br />
              -->
              <%= f.password_field :password, autocomplete: "new-password", class: "field" %>
            </div>

            <div class="sign-up-field">
              <%= f.label :パスワード（確認用） %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field" %>
            </div>
          </div>

          <div class="sign-up-btn">
            <div class="actions">
              <%= f.submit "新規登録", class: "action-btn"%>
            </div>
          </div>
        <% end %>

        　<div class="signup">
           <%= render "hairdressers/shared/links" %>
         </div>
      </div>
    </div>
  </div>
</div>