<% room.all_messages(room).each do |message| %>
	<% if message.class.name == 'HairdresserMessage' %>
		<div class="message-box clearfix">
			<% if message.hairdresser == current_hairdresser %>
				<div class="message-right">
					<p class="text"><%= safe_join(message.message.split("\n"), tag(:br)) %></p>
					<p class="time"><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></p>
				</div>
			<% else %>
				<span class="image"><%= attachment_image_tag(@room.hairdresser, :hairdresser_image, fallback: 'no images.png', size: '50x50', class: "image-box") %></span>
				<div class="message">
					<p class="text"><%= safe_join(message.message.split("\n"), tag(:br)) %></p>
					<p class="time"><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></p>
				</div>
			<% end %>
		</div>
	<% elsif message.class.name == 'ModelMessage' %>
		<div class="message-box clearfix">
			<% if message.model == current_model %>
				<div class="message-right">
					<p class="text"><%= safe_join(message.message.split("\n"), tag(:br)) %></p>
					<p class="time"><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></p>
				</div>
			<% else %>
				<span class="image"><%= attachment_image_tag(@room.model, :hairmodel_image, fallback: 'no images.png', size: '50x50', class: "image-box") %></span>
				<div class="message">
					<p class="text"><%= safe_join(message.message.split("\n"), tag(:br)) %></p>
					<p class="time"><%= message.created_at.strftime('%Y/%m/%d %H:%M') %></p>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>