<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="search">
        <%= form_with url: hairdressers_path, method: :get, local: true do |f| %>
          <p>美容師検索</p>
          <div class="select">
            <%= f.label :性別, class: "content" %>
            <%= f.select :hairdresser_gender, options_for_select(Hairdresser.hairdresser_genders.keys.map {|k| [I18n.t("enums.hairdresser.hairdresser_gender.#{k}"), k]}, params[:area]), { include_blank: '選択なし'}, class: "choice" %>
            <%= f.label :サロンエリア, class: "content" %>
            <%= f.select :area, options_for_select(Hairdresser.areas.keys.map {|k| [I18n.t("enums.hairdresser.area.#{k}"), k]}, params[:area]), { include_blank: '選択なし'}, class: "choice" %>
          </div>
          <div class="select">
            <%= f.label :カット, class: "content" %>
            <%= f.collection_check_boxes :cut_type_ids, @cut_types, :id, :cut_name, checked: params[:cut_type_ids], include_hidden: false  do |cut| %>
              <span class="check"><%= cut.label {cut.check_box + cut.text} %></span>
            <% end %>
          </div>
          <div class="select">
            <%= f.label :カラー, class: "content" %>
            <%= f.collection_check_boxes :color_type_ids, @color_types, :id, :color_name, checked: params[:color_type_ids], include_hidden: false  do |color| %>
              <span class="check"><%= color.label {color.check_box + color.text} %></span>
            <% end %>
          </div>
          <div class="select">
            <%= f.label :パーマ, class: "content" %>
            <%= f.collection_check_boxes :perm_type_ids, @perm_types, :id, :perm_name, checked: params[:perm_type_ids], include_hidden: false  do |perm| %>
              <span class="check"><%= perm.label {perm.check_box + perm.text} %></span>
            <% end %>
          </div>
          <div class="select">
            <%= f.label :セット, class: "content" %>
            <%= f.collection_check_boxes :set_type_ids, @set_types, :id, :set_name, checked: params[:set_type_ids], include_hidden: false  do |set| %>
              <span class="check"><%= set.label {set.check_box + set.text} %></span>
            <% end %>
          </div>
          <div class="search-btn">
            <%= f.submit "clear", type: :reset, class: "btn" %>
            <%= f.submit "検索", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @hairdressers.each do |hairdresser| %>
      <%= link_to hairdresser_path(hairdresser.id) do %>
    <div class="index col-md-6">
      <div class="index-box">
        <span><%= attachment_image_tag(hairdresser, :hairdresser_image, fallback: 'no images.png', size: '150x150', class: "image-box") %></span>
        <div class="profile-box">
        <table class="profile-list">
          <tr>
            <td class="profile-item">名前</td>
            <td><%= hairdresser.hairdresser_name %></td>
          </tr>
          <tr>
            <td class="profile-item">性別</td>
            <td><%= hairdresser.hairdresser_gender_i18n %></td>
          </tr>
          <tr>
            <td class="profile-item">美容室</td>
            <td><%= hairdresser.salon_name %></td>
          </tr>
          <tr>
            <td class="profile-item">エリア</td>
            <td><%= hairdresser.area_i18n %></td>
          </tr>
        </table>
        <div class="collect">
          <p><strong>＜募集モデル＞</strong></p>
          <ul class="clearfix">
          <% if hairdresser.cuts.count == 0 %>
          <p class="type">Cut</p>
          <li>現在募集していません</li>
          <% else %>
          <p class="type">Cut</p>
          <% hairdresser.cuts.each do |cut| %>
            <li><%= cut.cut_type_id_i18n %></li>
          <% end %>
          <% end %>
          </ul>
          <ul class="clearfix">
          <% if hairdresser.colors.count == 0 %>
          <p class="type">Color</p>
          <li>現在募集していません</li>
          <% else %>
          <p class="type">Color</p>
          <% hairdresser.colors.each do |color| %>
            <li><%= color.color_type_id_i18n %></li>
          <% end %>
          <% end %>
          </ul>
          <ul class="clearfix">
          <% if hairdresser.perms.count == 0 %>
          <p class="type">Perm</p>
          <li>現在募集していません</li>
          <% else %>
          <p class="type">perm</p>
          <% hairdresser.perms.each do |perm| %>
            <li><%= perm.perm_type_id_i18n %></li>
          <% end %>
          <% end %>
          </ul>
          <ul class="clearfix">
          <% if hairdresser.set_hairs.count == 0 %>
          <p class="type">Set</p>
          <li>現在募集していません</li>
          <% else %>
          <p class="type">Set</p>
          <% hairdresser.set_hairs.each do |set| %>
            <li><%= set.set_type_id_i18n %></li>
          <% end %>
          <% end %>
          </ul>
        </div>
        </div>
      </div>
    </div>
    <% end %>
      <% end %>
  </div>
</div>