<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="contents-box clearfix">
				<div class="img-box">
					<div class="img"><%= attachment_image_tag(@hairdresser, :hairdresser_image, fallback: 'no images.png', size: '200x200', class: "img") %></div>
					<% if @hairdresser == current_hairdresser %>
					<%= link_to edit_hairdresser_path(@hairdresser), data: {"turbolinks" => false} do %>
					<div class="pro-btn">
						<p>プロフィール編集</p>
					</div>
					<% else %>
					<% end %>
					<% end %>
				</div>
				<div class="pro-box">
					<table class="pro-list">
						<tr>
							<td class="pro-item">名前</td>
							<td><%= @hairdresser.hairdresser_name %></td>
						</tr>
						<tr>
							<td class="pro-item">性別</td>
							<td><%= @hairdresser.hairdresser_gender %></td>
						</tr>
						<tr>
							<td class="pro-item">サロン名</td>
							<td><%= @hairdresser.salon_name %></td>
						</tr>
						<tr>
							<td class="pro-item">サロン住所</td>
							<td><%= @hairdresser.salon_address %></td>
						</tr>
						<tr>
							<td class="pro-item">サロンエリア</td>
							<td><%= @hairdresser.area %></td>
						</tr>
					</table>
					<div class="colle">
						<p>＜募集モデル＞</p>
						<ul class="type-box clearfix">
						<% if @cut.count == 0 %>
						<p class="type">カット</p>
						<li>なし</li>
						<% else %>
						<p class="type">カット</p>
						<% @cut.each do |cut| %>
							<li><%= cut.cut_type_id %></li>
						<% end %>
						<% end %>
						</ul>
						<ul class="type-box clearfix">
						<% if @color.count == 0 %>
						<p class="type">カラー</p>
						<li>なし</li>
						<% else %>
						<p class="type">カラー</p>
						<% @color.each do |color| %>
							<li><%= color.color_type_id %></li>
						<% end %>
						<% end %>
						</ul>
						<ul class="type-box clearfix">
						<% if @perm.count == 0 %>
						<p class="type">パーマ</p>
						<li>なし</li>
						<% else %>
						<p class="type">パーマ</p>
						<% @perm.each do |perm| %>
							<li><%= perm.perm_type_id %></li>
						<% end %>
						<% end %>
						</ul>
						<ul class="type-box clearfix">
						<% if @set.count == 0 %>
						<p class="type">セット</p>
						<li>なし</li>
						<% else %>
						<p class="type">セット</p>
						<% @set.each do |set| %>
							<li><%= set.set_type_id %></li>
						<% end %>
						<% end %>
						</ul>
					</div>
					<div class="comment-box">
						<p>ひとこと</p>
						<p class="comment"><%= @hairdresser.hairdresser_comment %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
