<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1 col-md-2">
			<div class="img-box">
					<div class="img"><%= attachment_image_tag(@hairdresser, :hairdresser_image, fallback: 'no images.png', size: '200x200', class: "img") %></div>
					<% if @hairdresser == current_hairdresser %>
					<%= link_to edit_hairdresser_path(@hairdresser), data: {"turbolinks" => false} do %>
					<div class="pro-btn">
						<p>プロフィール編集</p>
					</div>
					<% else %>
					<% end %>
					<% end %>
			</div>
		</div>
		<div class="col-md-5">
			<div class="pro-box">
				<table class="pro-list">
						<tr class="list">
							<td class="pro-item">名前</td>
							<td><%= @hairdresser.hairdresser_name %></td>
						</tr>
						<tr>
							<td class="pro-item">性別</td>
							<td><%= @hairdresser.hairdresser_gender %></td>
						</tr>
						<tr>
							<td class="pro-item">サロン</td>
							<td><%= @hairdresser.salon_name %></td>
						</tr>
						<tr>
							<td class="pro-item"></td>
							<td><%= @hairdresser.salon_address %></td>
						</tr>
					</table>
					<div class="comment-box">
						<p><strong>ひとこと</strong></p>
						<p class="comment"><%= @hairdresser.hairdresser_comment %></p>
					</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="colle-box">
				<p><strong>＜募集モデル＞</strong></p>
						<ul class="type-box clearfix">
						<% if @cut.count == 0 %>
						<p class="type">Cut</p>
						<li>なし</li>
						<% else %>
						<p class="type">Cut</p>
						<% @cut.each do |cut| %>
							<li><%= cut.cut_type_id %></li>
						<% end %>
						<% end %>
						</ul>
						<ul class="type-box clearfix">
						<% if @color.count == 0 %>
						<p class="type">Color</p>
						<li>なし</li>
						<% else %>
						<p class="type">Color</p>
						<% @color.each do |color| %>
							<li><%= color.color_type_id %></li>
						<% end %>
						<% end %>
						</ul>
						<ul class="type-box clearfix">
						<% if @perm.count == 0 %>
						<p class="type">Perm</p>
						<li>なし</li>
						<% else %>
						<p class="type">Perm</p>
						<% @perm.each do |perm| %>
							<li><%= perm.perm_type_id %></li>
						<% end %>
						<% end %>
						</ul>
						<ul class="type-box clearfix">
						<% if @set.count == 0 %>
						<p class="type">Set</p>
						<li>なし</li>
						<% else %>
						<p class="type">Set</p>
						<% @set.each do |set| %>
							<li><%= set.set_type_id %></li>
						<% end %>
						<% end %>
						</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="mymanu"></div>
		</div>
	</div>

	<div class="row">
		<% @haircatalogs.each do |haircatalog| %>
		<div class="col-md-3">
			<div class="haircatalog">
				<div class="haircatalog-header">
					<% haircatalog.catalog_tags.each do |tag| %>
					<span><%= tag.tag_id %></span>
					<% end %>
				</div>
				<div class="haircatalog-image">
					<%= link_to hair_catalog_path(haircatalog.id) do %>
					<%= attachment_image_tag(haircatalog, :catalog_image, size: '250x250') %>
					<% end %>
				</div>
				<div class="haircatalog-footer">
					<span><%= haircatalog.created_at.strftime('%Y/%m/%d') %></span>
					<span>♡1</span>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
