<!DOCTYPE html>
<html>
  <head>
    <title>Hairmo Search</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/14f67da88f.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-fixed-top">
        <nav class="clearfix">
          <% if hairdresser_signed_in? %>
            <p class="home"><%= link_to "Hairmo Search", models_path %></p>
          <% elsif model_signed_in? %>
            <p class="home"><%= link_to "Hairmo Search", hairdressers_path %></p>
          <% else %>
            <p class="home"><%= link_to "Hairmo Search", root_path %></p>
          <% end %>
          <ul>
            <% if hairdresser_signed_in? %>
              <%= link_to hairdresser_path(current_hairdresser.id) do %>
                <li class="img"><%= attachment_image_tag(current_hairdresser, :hairdresser_image, fallback: 'no images.png', size: '40x40', class: "img") %></li>
                <li class="name"><%= current_hairdresser.hairdresser_name %></li>
              <% end %>
              <% if unchecked_hairdresser_notifications.any? %>
                <li class="nav-menu">
                  <%= link_to notifications_path do %>
                    <i class="fas fa-bell fa-lg" style="color: #FFB570;"></i><span>通知</span>
                  <% end %>
                </li>
              <% else %>
                <li class="nav-menu">
                  <%= link_to notifications_path do %>
                    <i class="fas fa-bell fa-lg"></i><span>通知</span>
                  <% end %>
                </li>
              <% end %>
              <li class="nav-menu">
                <%= link_to destroy_hairdresser_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt fa-lg"></i><span>ログアウト</span>
                <% end %>
              </li>
            <% elsif model_signed_in? %>
              <%= link_to model_path(current_model.id) do %>
                <li class="img"><%= attachment_image_tag(current_model, :hairmodel_image, fallback: 'no images.png', size: '40x40', class: "img") %></li>
                <li class="name"><%= current_model.hairmodel_name %></li>
              <% end %>
              <% if unchecked_model_notifications.any? %>
                <li class="nav-menu">
                  <%= link_to notifications_path do %>
                    <i class="fas fa-bell fa-lg" style="color: #FFB570;"></i><span>通知</span>
                  <% end %>
                </li>
              <% else %>
                <li class="nav-menu">
                  <%= link_to notifications_path do %>
                    <i class="fas fa-bell fa-lg"></i><span>通知</span>
                  <% end %>
                </li>
              <% end %>
              <li class="nav-menu">
                <%= link_to destroy_model_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt fa-lg"></i><span>ログアウト</span>
                <% end %>
              </li>
            <% else %>
              <li class="nav-menu">
                <%= link_to about_path do %>
                  <i class="fas fa-question-circle fa-lg"></i><span>About</span>
                <% end %>
              </li>
              <li class="nav-menu">
                  <a class="signin-trigger" href="#">
                    <span><i class="fas fa-user-plus fa-lg"></i>新規登録</span>
                  </a>
              </li>
              <li class="s-menu">
                  <%= link_to "美容師", new_hairdresser_registration_path, data: {"turbolinks" => false} %>
                  <%= link_to "ヘアモ", new_model_registration_path, data: {"turbolinks" => false} %>
              </li>
              <li class="nav-menu">
                  <a class="login-trigger" href="#">
                    <span><i class="fas fa-sign-in-alt fa-lg"></i>ログイン</span>
                  </a>
              </li>
              <li class="l-menu">
                  <%= link_to "美容師", new_hairdresser_session_path, data: {"turbolinks" => false} %>
                  <%= link_to "ヘアモ", new_model_session_path, data: {"turbolinks" => false} %>
              </li>
            <% end %>
          </ul>
        </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <p>Copyright ©Hairmo Search, All Rights Reserved.</p>
    </footer>
  </body>
</html>
