<!DOCTYPE html>
<html>
  <head>
    <title>Hairmo Search</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav navbar-fixed-top">
      <div class="container-fluid">
        <nav class="nav navbar-nav navbar-left">
          <h2 class="home"><%= link_to "Hairmo Search", root_path %></h2>
        </nav>
        <ul class="nav navbar-nav navbar-right">
          <% if hairdresser_signed_in? %>
          <li class="nav-menu"><%= current_hairdresser.hairdresser_name %></li>
          <li class="nav-menu"><%= link_to "マイページ", hairdresser_path(current_hairdresser.id) %></li>
          <li class="nav-menu">ヘアモ一覧</li>
          <li class="nav-menu"><%= link_to "ログアウト", destroy_hairdresser_session_path, method: :delete %></li>
          <% else %>
          <li class="nav-menu">About</li>
          <li class="nav-menu"><%= link_to "美容師ログイン", new_hairdresser_session_path %></li>
          <li class="nav-menu">ヘアモ登録</li>
          <% end %>
        </ul>
      </div>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <p>Copyright ©Hairmo Search, All Rights Reserved.</p>
    </footer>
  </body>
</html>
